* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






body {
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #84f5f5 50%, #f0bab4);
    background-size: cover;
    background-position: center;
}



.list {
    height: 100%;
    padding: 50px;
    margin: 100px auto;
    margin-left: 100px;
    width: 60%;
}



h1 {
    font-size: 2.5rem;
    font-weight: bolder;
}



header {
    display: flex;
    margin-bottom: 20px;
    padding-left: 150px;
    padding-top: 30px;
}



form {
    display: block;
    width: 90%;
    margin-bottom: 70px;

   
    font-size: 18px;
    background: rgb(94, 207, 245);
   /* width: 25%;*/
    height: auto;
    box-shadow: 0 2px 4px 0 rgb(75, 150, 175), 0 3px 10px 0 rgb(3, 103, 136);
    border-radius: 30px;
    margin-left: 200px;
    margin-top: 100px;
  
}

input[type="text"],
select
{
    border-radius: 20px;
    width: 30%;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
   /* margin-left: 100px;*/
  
}
#weekDays, #muscleGroup{
    margin-left: 100px

}
.input {
    margin-left: 100px;
}

.btnAdd {
    background-color: orange;
    width: 150px;
    margin-left: 10px;
}
#submit2 {
    margin-left: 530px;
    background-color: rgb(0, 153, 255);


    font-size: 15px;
    font-weight: bold;
  
    padding: 1px 1px 1px 1px;
    border-radius:40px;
    border-bottom: ridge;
    border-bottom-width:10px;
    border-right-width: 10px;
    border-color: rgb(20, 154, 199);
    width: 15%;
 

}



.tableList {
    margin-left: 10px;
    width: 100%;
    text-align: center;
}


th {
    padding: 8px 0;
}
td {
    border-bottom: 1px solid rgb(143, 140, 140);
    padding: 8px 0;
}

tr:first-child {
    text-align: center;
    box-shadow: 0px 1px rgba(0, 0, 0, 1);
}

tr td:last-child,
tr td:nth-last-child(2) {
    text-align: center;
   
}


.btnDelete {
    background-color: #84f5f5;
    color: rgb(231, 101, 26);
    border: none;
 
}


