

@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');



body {
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #89f2f2;
    background-size: cover;
    background-position: center;
    transition: background 0.2s linear;
    .fa-moon {
        color: rgb(242, 245, 62);
        background: #89f2f2;
    }
    .fa-sun {
        color:orange;
        background: #89f2f2;
    

  
 

    }
}


#dark {
    opacity: 0;
    position: absolute;
    left: 100px;
}

.label {
    background: rgb(94, 207, 245);
    
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 0px 3px 3px;
    width: 43px;
    position: relative;
    transform: scale(1.5);
    margin-left: 1600px;
    margin-top: 100px;
    border: 1px solid black;
}

.label .ball {
    
    background-color: white;
    
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

#dark:checked + .label .ball {
    transform: translateX(24px)
}
.fa-moon {
    color: rgb(242, 245, 62);
    background-color: black;
}
.fa-sun {
    color:orange;
    background-color: black;
    margin-right: 4px;
}




.akaya-kanadaka-regular {
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.combobox, .combobox2  {
   
    width: 100%;
    height: 40px;
}
.tableList1, .tableList2, .tableList3 {
 
    width: 100%;

}


.list {
    height: 100%;
    padding: 50px;
    margin: 100px auto;
    margin-left: 100px;
    width: 60%;
}



h1 {
    font-size: 2.5rem;
    font-weight: bolder;
}



header {
    display: flex;
    margin-bottom: 20px;
    padding-left: 150px;
    padding-top: 30px;
}



form {
    display: block;
    width: 90%;
    margin-bottom: 70px;

   
    font-size: 18px;
    background-color: #89f2f2;
   /* width: 25%;*/
    height: auto;
    box-shadow: 0 2px 4px 0 rgb(75, 150, 175), 0 3px 10px 0 rgb(3, 103, 136);
    border-radius: 30px;
    margin-left: 200px;
    margin-top: 100px;
  
}

input[type="text"],
select
{
    border-radius: 20px;
    width: 30%;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
   /* margin-bottom: 10px;*/
   /* margin-left: 100px;*/
  
}
#weekDays, #muscleGroup{
    margin-left: 100px;

}

#muscleGroup{
    margin-bottom: 20px;
  
}
.input {
    margin-left: 100px;
    
}

.btnAdd {
    background-color: 	#00BFFF;
    width: 150px;
    margin-left: 100px;

    margin-top: 20px;


    font-size: 15px;
    font-weight: bold;
  
    padding: 1px 1px 1px 1px;
    border-radius:40px;
    border-bottom: ridge;
    border-bottom-width:10px;
    border-right-width: 10px;
    border-color: #1e6f8a;
    width: 15%;

}
#submit2 {
   /* margin-left: 530px; */
    background-color: #00BFFF;

    position: relative;
    bottom: 16px;
   left: 370px;
    font-size: 15px;
    font-weight: bold;
  
    padding: 1px 1px 1px 1px;
    border-radius:40px;
    border-bottom: ridge;
    border-bottom-width:10px;
    border-right-width: 10px;
    border-color: #1e6f8a;
    width: 15%;
 

}
/*
.tableSet {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}
*/
table {
    width: 100%;
}

.tableList {
    margin-left: 10px;
    width: 100%;
    text-align: center;
}


th {
    padding: 8px 0;
}
td {
    border-bottom: 1px solid rgb(143, 140, 140);
    padding: 8px 0;
}

tr:first-child {
    text-align: center;
    box-shadow: 0px 1px rgba(0, 0, 0, 1);
}

tr td:last-child,
tr td:nth-last-child(2) {
    text-align: center;
   
}


.btnDelete {
    background-color: #84f5f5;
    color: rgb(231, 101, 26);
    border: none;
    cursor: pointer;
 
}


#exerciseList1,  #exerciseList2, #exerciseList3, #exerciseList4, #exerciseList5, #exerciseList6{
    margin-bottom: 100px; 
}



body.dark  {
    
    background: black;
    color: white;
    form  {
        background-color: rgba(199, 190, 190, 0.24);
        box-shadow: 0 4px 8px 0 rgb(129, 133, 129), 0 6px 20px 0 rgb(66, 68, 66);
    }
    h1, h2, .pobjective, .pdiet, .pmealsChild, .ptable, th {
        color:#03c2fc;
    }
    .link {
        color: white;
        background-color: rgba(240, 233, 233, 0.24);
        box-shadow: 0 2px 4px 0 rgb(127, 131, 127), 0 3px 10px 0 rgb(88, 92, 88);
    }
    .link:hover {
        background: #03c2fc;
        color: black;
    }
    .placeholder {
        background: rgb(206, 198, 198);
        
    }
    .placeholder:hover{
        background: #03c2fc;
    }
    #pName {
        text-shadow: 3px 3px 5px  #03c2fc;
    }

    #tDEEresult {
 
        border-color: rgb(94, 105, 94);
    
    }
    .button {
        color: white;
        border-color: rgb(101, 107, 101);
        background-color: rgb(71, 70, 70);
      
       
    }
    #buttonClean{
        margin-left: 0;
    }
    .button:hover {
        font-size: 16px;
        background: #03c2fc;
        color: black;
        cursor: pointer;
    
        border-style: groove;
        
    }
    table, td {
        border: 1px solid white;
        background-color: rgb(156, 152, 152);
       
    }
    th {
        border: 1px solid white;
        background-color: rgb(41, 40, 40);
       
    }
    .fa-moon {
        color: rgb(241, 241, 101);
        background-color: black;
    }
    .fa-sun {
        color:orange;
        background-color: black;
    }
    .label {
        background-color: black;
        border: 1px solid white;
    }

    }


    .pse {
   float: top;
   margin-bottom: 2px;

        
    }




































@media only screen and (min-width: 1920px){

    #submit2 {
        left: 10px;
    }

    .combobox, .combobox2  {
   
        width: 100%;
        height: 60px;
        color: #f57f54
    }



}